body{
    background: url(images/backround.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.menu-btn,.dropdown-btn,.card-btn{
    background-color: transparent;
    color: white; 
    cursor: pointer;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    width: fit-content;
    height: 30px;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
    font-size: 16px;
}

.card-btn{
    margin-bottom: 15px;
}

.menu-btn{
    display: inline-block;
    padding: 0 15px;
    margin:29px;
}
.dropdown-btn{
    display: block;
    margin: 10px;
}

.card-btn:hover, .menu-btn:hover{
    background-color: white;
    color: black;
}

.header-container{
    flex: 1;
    flex-direction: column;
    max-height: 1000px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
}

.ublogo-home{
    max-width: 200px;
}

.search{
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    background: transparent;
    gap: 20px;
}

.search-icon{
    width: 7px;
    color: whitesmoke;
    padding-right: 1.5rem;
}

.search-input{
    font-size: 15px;
    font-family: "Rajdhani", sans-serif;
    outline: none;
    border: none;
    background: transparent;
    color: whitesmoke;
}

.search-input::placeholder{
    color: whitesmoke;
    font-family: "Rajdhani",sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.nav-bar .toggle-btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.dropdown-menu{
    position: absolute;
    right: 30px;
    top: 100px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    display: none;
}

.dropdown-menu.open{
    display: block;
}

/* RESPONSIVE NAVBAR */
@media(max-width: 1300px){
    .nav-links,
    .nav-bar .search{
        display:none;
    }

    .nav-bar .toggle-btn{
        display: block;
    }
}

.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 90px;
}

.ubsedslogo{
    height: fit-content;
    max-width: 90%;
}


.card-container{
    background:linear-gradient(rgba(0,0,0,0), #000 30%);
    display: grid;
    grid-gap: 40px;
    padding: 50px;
    padding-top: 200px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    background-color: grey;
    border-radius: 5px;
    overflow: hidden;
    padding: 5rem 0 0;
    transition: transform 200ms ease;
    height: fit-content;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
.card:hover{
    transform: scale(1.03);
    .card-content{
        transform: translateY(0%);
    }
}

.card-content{
    padding: 0 20px 10px;
    background:linear-gradient(rgba(0,0,0,0), #000 60%);
    transform: translateY(45%);
    transition: transform 200ms ease;
    height: fit-content;
}

.card-title{
    font-family: "Rajdhani", sans-serif;
    color: white;
    font-size: 35px;
    line-height: 1px;
}

.card-body{
    font-family: "Rajdhani", sans-serif;
    color: white;
    font-size: 18px;
    padding-bottom: 5px;
}

.grid-col-span{
    grid-row-start: 2;
    grid-column: span 2;
}

@media(max-width: 850px){
    .grid-col-span{
        grid-column: span 1;
    }
    .card-container{
        padding: 30px;
        grid-gap: 30px;
    }
}