body{
    background: url(images/n825vxqc.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.menu-btn,.dropdown-btn,.card-btn{
    background-color: transparent;
    color: white; 
    cursor: pointer;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    width: fit-content;
    height: 30px;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.card-btn{
    margin-bottom: 15px;
}

.menu-btn{
    display: inline-block;
    padding: 0 13px;
    margin:0 15px 0; 
    box-shadow: #000;
}
.dropdown-btn{
    display: block;
    margin: 10px;
    text-decoration: none;
}

.card-btn:hover, .menu-btn:hover, .contact-us-btn:hover{
    background-color: white;
    color: black;
}

.contact-us-btn{
    background-color: rgb(4, 4, 87);
    color: white; 
    cursor: pointer;
    /* border-color: whitesmoke; */
    border-style: none;
    border-radius: 12px;
    border-width: 1px;
    width: fit-content;
    height: 40px;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 13px;
    margin:0 15px 0; 
    box-shadow: #000;
}

.header-container{
    flex: 1;
    flex-direction: column;
    max-height: 1000px;
}

.nav-links{
    padding-inline-start: 10px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 5px 50px;
}

.right-bar{
    display: flex;
    display: row;
}

.ublogo-home{
    max-width: 200px;
    padding-top: 20px;
}

.sedslogo-corner{
    max-width: 200px;
    padding-top: 20px;
}

.nav-bar .toggle-btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
    ;
}

.dropdown-menu{
    position: absolute;
    right: 30px;
    top: 100px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    display: none;
}

.dropdown-menu.open{
    display: block;
}

/* RESPONSIVE NAVBAR */
@media(max-width: 1300px){
    .nav-links,
    .contact-btn-container
     {
        display:none;
    }

    .nav-bar .toggle-btn{
        display: block;
    }
}

.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 90px;
    padding-right: 20px;
}

.ubsedslogo{
    height: fit-content;
    max-width: 70%;
}


.card-container,.card-container-subteams{
    background:linear-gradient(rgba(0,0,0,0), #000 20%);
}

.card-container,.card-container-subteams, .card-container-subteams-page{
    display: grid;
    grid-gap: 50px;
    padding: 60px;
    padding-top: 300px;
}

.card-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-container-subteams, .card-container-subteams-page{
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 90px 250px 0;
}


.card-subteams, .card-rocketry, .card-research{
    border-radius: 25px;
    overflow: hidden;
    padding: 4rem 0 0;
    transition: transform 200ms ease, box-shadow 0.3s ease;
    height: fit-content;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-research{
    background-image: url(images/REASEARCH\ PIC\ 2.png);
    background-size: cover;
}

.card-rocketry{
    background-image: url(images/ROCKETRY\ PIC.png);
    background-size: cover;
}

.card-subteams{
    background-image: url(images/SUBTEAMS\ PIC.png);
    background-size: cover;
}

@media (hover){

    .card-content{
        transform: translateY(22%);
        transition: transform 200ms ease;
    }
    .card-subteams:hover, .card-research:hover, .card-rocketry:hover{
        transform: scale(1.03);
        /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
        .card-content{
            transform: translateY(0%);
        }
    }
}

.card-content{
    padding: 70px 20px 10px;
    background: linear-gradient(
        to bottom, /* Specify the direction of the gradient */
        rgba(0, 0, 0, 0), /* Fully transparent black */
        rgba(0, 0, 0, 0.9), /* 10% opaque black */
        rgba(0, 0, 0, 1) /* Fully opaque black */
    );
    height: fit-content;
}

.card-title{
    font-family: "Rajdhani", sans-serif;
    color: white;
    font-size: 40px;
    line-height: 1px;
    padding-top: 50px;
}

.card-body{
    font-family: "Rajdhani", sans-serif;
    color: white;
    opacity: 0.7;
    font-family: "Rajdhani", sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
}

.grid-col-span{
    grid-row-start: 2;
    grid-column: span 2;
}

@media(max-width: 850px){
    .grid-col-span{
        grid-column: span 1;
    }
    .card-container{
        padding: 30px;
        grid-gap: 30px;
    }
}

.footer-container{
    display: flex;
    padding: 70px 20px 20px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
    
}

.copyright-text{
    color: white;
    font-size: 15px;
    font-family: "Rajdhani", sans-serif;
}

.footer-logo-container{
    display: flex;
    justify-content: center;
    max-height: fit-content;
    align-items: center;
    margin-left: 115px;
}

.logo-test{
    margin: 0 12px 0;
}


/* SUBTEAMS PAGE*/

.subteam-heading{
    color: white;
    font-size: clamp(20px, 3vw + 25px, 200px);
    font-family: "Rajdhani", sans-serif;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    align-items: center;
}

.subteam-text-card{
    height: fit-content;
    /* padding: 30px 50px 30px 50px; */
}

.card-body-subteam{
    font-family: "Rajdhani", sans-serif;
    color: white;
    opacity: 0.7;
    font-family: "Rajdhani", sans-serif;
    padding-bottom: 5px;
    font-size: 40px;
    text-align: justify;
    
}

.subteam-image-card{
    background-color: #000;
    border-radius: 25px;
    overflow: hidden;
    /* padding: 4rem 0 0; */
    height: fit-content;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    max-height: 450px;
}

.subteam-pic{
    max-height: 800px;
}

.subteam-big-heading{
    font-size: 80px;
    font-family: "Rajdhani", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    align-items: center;
}